    {% extends 'base.html.twig' %}

    {% block title %}{% trans %}menu0{% endtrans %} - MotoCampeonas{% endblock %}

    {% block contenido %}
      {{ include ('frontend/carousel.html.twig') }}
      <div class="row align-items-center">
        <div class="col mt-4 p-5 bg-secondary bg-opacity-25 text-black rounded">
         <a href="{{ path('vistaRankingVelocidad') }}" class="link-secondary" style="text-decoration:none;text-align:center">
         <h1>{{ 'menu1'|trans }}</h1>
         <p>{% trans %}submenu1{% endtrans %}</p>
         </a>
        </div>
        <div class="col">
        </div>
        <div class="col mt-4 p-5 bg-secondary bg-opacity-25 text-black rounded">
         <a href="{{ path('vistaRankingMotocross') }}" class="link-secondary" style="text-decoration:none;text-align:center">
         <h1>{% trans %}menu2{% endtrans %}</h1>
         <p>{% trans %}submenu2{% endtrans %}</p>
         </a>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col mt-4 p-5 bg-secondary bg-opacity-25 text-black rounded">
         <a href="{{ path('vistaGraficos') }}" class="link-secondary" style="text-decoration:none;text-align:center">
         <h1>{% trans %}menu3{% endtrans %}</h1>
         <p>{% trans %}submenu3{% endtrans %}</p>
         </a>
        </div>
        <div class="col">
        </div>
        <div class="col mt-4 p-5 bg-secondary bg-opacity-25 text-black rounded">
         <a href="{{ path('vistaRegistros') }}" class="link-secondary" style="text-decoration:none;text-align:center">
         <h1>{% trans %}menu4{% endtrans %}</h1>
         <p>{% trans %}submenu4{% endtrans %}</p>
         </a>
        </div>
      </div>
      <div class="mt-4 p-5 bg-secondary bg-opacity-25 text-black rounded">
       <a href="{{ path('vistaEstadisticas') }}" class="link-secondary" style="text-decoration:none;text-align:center">
       <h1>{% trans %}menu5{% endtrans %}</h1>
       <p>{% trans %}submenu5{% endtrans %}</p>
       </a>
      </div>
    {% endblock %}

