   {% extends 'base.html.twig' %}

   {% block title %}{% trans %}menu3{% endtrans %} - MotoCampeonas{% endblock %}

   {% block tituloContenido %}{% trans %}menu3{% endtrans %}{% endblock %}
   {% block subtituloContenido %}{% trans %}submenu3{% endtrans %}{% endblock %}
   
   {% block cookies %}{% endblock %}
   {% block cuerpocontenido %}
      <br/>
      <p><center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Flag_of_Germany.svg/200px-Flag_of_Germany.svg.png" width="25px" height="15px">&nbsp;Kalex&nbsp;&nbsp;<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Flag_of_Austria.svg/800px-Flag_of_Austria.svg.png" width="25px" height="15px">&nbsp;KTM&nbsp;&nbsp;<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Flag_of_Italy.svg/1200px-Flag_of_Italy.svg.png" width="25px" height="15px">&nbsp;Aprilia, Ducati&nbsp;&nbsp;<img src="https://m.media-amazon.com/images/I/3157QAYMHnL._AC_SX425_.jpg" width="25px" height="15px">&nbsp;Honda, Kawasaki, Suzuki, Yamaha</center></p>
      <br/>
      <div class="alert alert-secondary">
         <center><h2>{% trans %}velocidad{% endtrans %}&nbsp;<button type="button" class="btn btn-info btn-floating bg-light bg-opacity-50 text-black" data-bs-toggle="popover" title="{% trans %}altacilindrada{% endtrans %}" data-bs-content="WorldSBK, MotoGP, 500cc">{% trans %}potenciaalta{% endtrans %}</button></h2></center>
      </div>
        <center><div id="velocidadalta" style="max-width: 95%"></div></center>  
        <center><div id="regionesvelocidadalta" class="w-75"></div></center> 
      <br/>
      <div class="alert alert-secondary">
         <center><h2>Motocross&nbsp;<button type="button" class="btn btn-info btn-floating bg-light bg-opacity-50 text-black" data-bs-toggle="popover" title="{% trans %}altacilindrada{% endtrans %}" data-bs-content="MXGP, WMX, MX3">{% trans %}potenciaalta{% endtrans %}</button></h2></center>
      </div>
        <center><div id="motocrossalta" style="max-width: 95%"></div></center>  
        <center><div id="regionesmotocrossalta" class="w-75"></div><center> 
      <br/>
      <div class="alert alert-secondary">
         <center><h2>{% trans %}velocidad{% endtrans %}&nbsp;<button type="button" class="btn btn-info btn-floating bg-light bg-opacity-50 text-black" data-bs-toggle="popover" title="{% trans %}mediacilindrada{% endtrans %}" data-bs-content="WorldSSP, Moto2, 250cc">{% trans %}potenciamedia{% endtrans %}</button></h2></center>
      </div>
        <center><div id="velocidadmedia" style="max-width: 95%"></div></center>  
        <center><div id="regionesvelocidadmedia" class="w-75"></div></center>       
      <br/>   
      <div class="alert alert-secondary">
         <center><h2>{% trans %}velocidad{% endtrans %}&nbsp;<button type="button" class="btn btn-info btn-floating bg-light bg-opacity-50 text-black" data-bs-toggle="popover" title="{% trans %}bajacilindrada{% endtrans %}" data-bs-content="WorldSSP300, Moto3, 125cc">{% trans %}potenciabaja{% endtrans %}</button></h2></center>
      </div>
        <center><div id="velocidadbaja" style="max-width: 95%"></div></center>  
        <center><div id="regionesvelocidadbaja" class="w-75"></div></center>       
      <br/>      
      <div class="alert alert-secondary">
         <center><h2>Motocross&nbsp;<button type="button" class="btn btn-info btn-floating bg-light bg-opacity-50 text-black" data-bs-toggle="popover" title="{% trans %}bajacilindrada{% endtrans %}" data-bs-content="MX2">{% trans %}potenciabaja{% endtrans %}</button></h2></center>
      </div> 
        <center><div id="motocrossbaja" style="max-width: 95%"></div></center>  
        <center><div id="regionesmotocrossbaja" class="w-75"></div></center>       
      <br/>         
<script>
    <script id='APIGoogleChartonline' src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['{{ 'marcamoto'|trans }}', 'WorldSBK', 'MotoGP','500cc'],
          ['Honda', 10, 20, 16],
          ['Yamaha', 4, 16, 8],
          ['Ducati', 31, 2, 0],
          ['Kawasaki', 14, 0, 0],
          ['Aprilia', 7, 0, 0],                 
        ]);

        var options = {
          chart: {
            title: '{{'graficostitulo'|trans}}',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('velocidadalta'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['{{ 'marcamoto'|trans }}', 'WorldSSP', 'Moto2','250cc'],
          ['Honda', 19, 0, 18],
          ['Yamaha', 18, 0, 6],
          ['Aprilia', 0, 0, 18], 
          ['Kalex', 0, 20, 0], 
          ['Kawasaki', 7, 0, 0],       
        ]);

        var options = {
          chart: {
            title: '{{'graficostitulo'|trans}}',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('velocidadmedia'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['{{ 'marcamoto'|trans }}', 'WorldSSP300', 'Moto3','125cc'],
          ['Honda', 0, 10, 20],
          ['Aprilia', 0, 0, 18], 
          ['KTM', 0, 10, 0], 
          ['Kawasaki', 8, 0, 0],   
          ['Yamaha', 2, 0, 0],    
        ]);

        var options = {
          chart: {
            title: '{{'graficostitulo'|trans}}',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('velocidadbaja'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['{{ 'marcamoto'|trans }}', 'MXGP', 'WMX','MX3'],
          ['KTM', 9, 6, 11],
          ['Yamaha', 2, 13, 3],
          ['Kawasaki', 0, 7, 0], 
          ['Honda', 5, 0, 5], 
          ['Suzuki', 0, 0, 1],       
        ]);

        var options = {
          chart: {
            title: '{{'graficostitulo'|trans}}',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('motocrossalta'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['{{ 'marcamoto'|trans }}', 'MX2'],
          ['KTM', 27],
          ['Yamaha', 7],
          ['Kawasaki', 1], 
          ['Honda', 1], 
        ]);

        var options = {
          chart: {
            title: '{{'graficostitulo'|trans}}',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('motocrossbaja'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>            
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['{{'graficoregionpais'|trans}}', '{{'graficoregionvictorias'|trans}}'],
          ['Japan', 88],
          ['Italy', 40],
          ['', 1]       
        ]);

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('regionesvelocidadalta'));

        chart.draw(data, options);
      }
     </script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['{{'graficoregionpais'|trans}}', '{{'graficoregionvictorias'|trans}}'],
          ['Japan', 68],
          ['Germany', 20],
          ['', 1]
        ]);

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('regionesvelocidadmedia'));

        chart.draw(data, options);
      }
     </script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['{{'graficoregionpais'|trans}}', '{{'graficoregionvictorias'|trans}}'],
          ['Japan', 40],
          ['Italy', 18],
          ['Austria', 10],
          ['', 1]
        ]);

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('regionesvelocidadbaja'));

        chart.draw(data, options);
      }
     </script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['{{'graficoregionpais'|trans}}', '{{'graficoregionvictorias'|trans}}'],
          ['Japan', 36],
          ['Austria', 26],
          ['', 1]
        ]);

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('regionesmotocrossalta'));

        chart.draw(data, options);
      }
     </script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['{{'graficoregionpais'|trans}}', '{{'graficoregionvictorias'|trans}}'],
          ['Austria', 27],
          ['Japan', 9],
          ['', 1]
        ]);

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('regionesmotocrossbaja'));

        chart.draw(data, options);
      }
     </script>                    
</script>

   {% endblock %}