   {% extends 'base.html.twig' %}

   {% block title %}{% trans %}menu2{% endtrans %} - MotoCampeonas{% endblock %}

   {% block tituloContenido %}{% trans %}menu2{% endtrans %}{% endblock %}
   {% block subtituloContenido %}{% trans %}submenu2{% endtrans %}{% endblock %}
   {% block cuerpocontenido %}
   <div class="container mt-3">
   <table class="table">
     <thead>
      <tr>
        <th><center>{% trans %}nivelranking{% endtrans %}</center></th>
        <th><center>{% trans %}marcamoto{% endtrans %}</center></th>
        <th><center><button type="button" class="btn bg-secondary bg-opacity-25 text-black" data-bs-toggle="popover" title="{% trans %}altacilindrada{% endtrans %}" data-bs-content="MXGP, WMX, MX3">
        {% trans %}potenciaalta{% endtrans %}
        </button></center></th>
        <th><center><button type="button" class="btn bg-secondary bg-opacity-25 text-black" data-bs-toggle="popover" title="{% trans %}bajacilindrada{% endtrans %}" data-bs-content="MX2">
        {% trans %}potenciabaja{% endtrans %}
        </button></center></th>
      </tr>
    </thead>
    {% for datos in datosTabla %}
      <tr>
        <td><center>{{datos.posicion}}</center></td>
        <td><center>{{datos.marca}}</center></td>
        <td>
          <center>
          <div id="{{datos.iddonutalta}}" style="width:100px"></div>
          </center>
         </td>
        <td>
          <center>
          <div id="{{datos.iddonutbaja}}" style="width:100px"></div>
          </center>
         </td>
      </tr> 
    {% endfor %}
    </tbody>
  </table>
</div>

    {% for datos in datosScipt %}
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Effort', 'Amount given'],
          ['{{datos.cilindrada}}',  {{datos.victorias}}],
        ]);

        var options = {
         //title: 'My Daily Activities',
          pieHole: 0.5,
          pieSliceText: 'value',
          pieSliceTextStyle: {
            color: 'black',
            fontSize: 15
          },
          legend: 'none',
          colors:['#c9c9c9']
        };
        
        var chart = new google.visualization.PieChart(document.getElementById('{{datos.iddonut}}'));
        chart.draw(data, options);
      }
    </script>
   {% endfor %}

   {% endblock %}
   {% block cookies %}{% endblock %}