   {% extends 'base.html.twig' %}

   {% block title %}{% trans %}menu4{% endtrans %} - MotoCampeonas{% endblock %}

   {% block tituloContenido %}{% trans %}menu4{% endtrans %}{% endblock %}
   {% block subtituloContenido %}{% trans %}submenu4{% endtrans %}{% endblock %}
   {% block cuerpocontenido %}
   <p><center>
   <a class="btn bg-secondary bg-opacity-25 text-black" data-bs-toggle="collapse" href="#registrosrankingmotocross" role="button" aria-expanded="false" aria-controls="registrosrankingmotocross">
     {% trans %}menu1{% endtrans %}
   </a>
   <button class="btn bg-secondary bg-opacity-25 text-black" type="button" data-bs-toggle="collapse" data-bs-target="#registrosrankingmotocross" aria-expanded="false" aria-controls="registrosrankingmotocross">
     {% trans %}botonpdf{% endtrans %}
   </button>
   </center></p>
   <div class="collapse" id="registrosrankingmotocross">
     <div class="card card-body">
        <table class="table">
     <thead>
      <tr>
        <th><center>{% trans %}nivelranking{% endtrans %}</center></th>
        <th><center>{% trans %}marcamoto{% endtrans %}</center></th>
        <th><center><button type="button" class="btn bg-secondary bg-opacity-25 text-black" data-bs-toggle="popover" title="{% trans %}altacilindrada{% endtrans %}" data-bs-content="WorldSBK, MotoGP, 500cc">
        {% trans %}potenciaalta{% endtrans %}
        </button></center></th>
        <th><center><button type="button" class="btn bg-secondary bg-opacity-25 text-black" data-bs-toggle="popover" title="{% trans %}mediacilindrada{% endtrans %}" data-bs-content="WorldSSP, Moto2, 250cc">
        {% trans %}potenciamedia{% endtrans %}
        </button></center></th>
        <th><center><button type="button" class="btn bg-secondary bg-opacity-25 text-black" data-bs-toggle="popover" title="{% trans %}bajacilindrada{% endtrans %}" data-bs-content="WorldSSP300, Moto3, 125cc">
        {% trans %}potenciabaja{% endtrans %}
        </button></center></th>
      </tr>
    </thead>
    <tbody>
    {% for datos in datosTablaVelocidad %}
      <tr>
        <td><center>{{datos.posicion}}</center></td>
        <td><center>{{datos.marca}}</center></td>
        <td>
          <center>
          <div style="width:100px">{{datos.alta}}</div>
          </center>
         </td>
        <td>
          <center>
          <div style="width:100px">{{datos.media}}</div>
          </center>
         </td>
        <td>
          <center>
          <div style="width:100px">{{datos.baja}}</div>
          </center>
         </td>
      </tr> 
    {% endfor %}
    </tbody>
  </table>
     </div>
   </div>
   <p><center>
   <a class="btn bg-secondary bg-opacity-25 text-black" data-bs-toggle="collapse" href="#registrosrankingvelocidad" role="button" aria-expanded="false" aria-controls="registrosrankingvelocidad">
     {% trans %}menu2{% endtrans %}
   </a>
   <button class="btn bg-secondary bg-opacity-25 text-black" type="button" data-bs-toggle="collapse" data-bs-target="#registrosrankingvelocidad" aria-expanded="false" aria-controls="registrosrankingvelocidad">
     {% trans %}botonpdf{% endtrans %}
   </button>
   </center></p>
   <div class="collapse" id="registrosrankingvelocidad">
     <div class="card card-body">
      <table class="table">
        <thead>
         <tr>
           <th><center>{% trans %}nivelranking{% endtrans %}</center></th>
           <th><center>{% trans %}marcamoto{% endtrans %}</center></th>
           <th><center><button type="button" class="btn bg-secondary bg-opacity-25 text-black" data-bs-toggle="popover" title="{% trans %}altacilindrada{% endtrans %}" data-bs-content="MXGP, WMX, MX3">
           {% trans %}potenciaalta{% endtrans %}
           </button></center></th>
           <th><center><button type="button" class="btn bg-secondary bg-opacity-25 text-black" data-bs-toggle="popover" title="{% trans %}bajacilindrada{% endtrans %}" data-bs-content="MX2">
           {% trans %}potenciabaja{% endtrans %}
           </button></center></th>
         </tr>
       </thead>
       {% for datos in datosTablaMotocross %}
         <tr>
           <td><center>{{datos.posicion}}</center></td>
           <td><center>{{datos.marca}}</center></td>
           <td>
             <center>
             <div style="width:100px">{{datos.alta}}</div>
             </center>
            </td>
           <td>
             <center>
             <div style="width:100px">{{datos.baja}}</div>
             </center>
            </td>
         </tr> 
       {% endfor %}
       </tbody>
     </table>
     </div>
   </div>
   {% endblock %}
   {% block cookies %}{% endblock %}