    {% extends 'base.html.twig' %}

    {% block title %}Home - MotoCampeonas{% endblock %}

    {% block contenido %}
      {{ include ('carousel.html.twig') }}
      <div class="row align-items-center">
        <div class="col mt-4 p-5 bg-secondary bg-opacity-25 text-black rounded">
         <a href="{{ path('vistaRankingVelocidad') }}" class="link-secondary" style="text-decoration:none">
         <h1>Ranking Velocidad</h1>
         <p>...</p>
         </a>
        </div>
        <div class="col">
        </div>
        <div class="col mt-4 p-5 bg-secondary bg-opacity-25 text-black rounded">
         <a href="{{ path('vistaRankingMotocross') }}" class="link-secondary" style="text-decoration:none">
         <h1>Ranking Motocross</h1>
         <p>...</p>
         </a>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col mt-4 p-5 bg-secondary bg-opacity-25 text-black rounded">
         <a href="{{ path('vistaGraficos') }}" class="link-secondary" style="text-decoration:none">
         <h1>Gráficos</h1>
         <p>...</p>
         </a>
        </div>
        <div class="col">
        </div>
        <div class="col mt-4 p-5 bg-secondary bg-opacity-25 text-black rounded">
         <a href="{{ path('vistaRegistros') }}" class="link-secondary" style="text-decoration:none">
         <h1>Registros</h1>
         <p>...</p>
         </a>
        </div>
      </div>
      <div class="mt-4 p-5 bg-secondary bg-opacity-25 text-black rounded">
       <a href="#" class="link-secondary disabled" style="text-decoration:none;text-align:center">
       <h1>Predicción</h1>
       <p>...</p>
       </a>
      </div>
    {% endblock %}

